@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.row{
  overflow: auto;
}
table {
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 30px);  
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;


}

th , td  {
  border: 0px solid grey;
  border-collapse: collapse;
  padding: 0.5em 1em;
  position: relative;
}

td, th {
  position: relative;
  outline: 0;
}



table td:hover::after{ 
  content: '';  
  height: 10000px;
  left: 0;
  position: absolute;  
  top: -5000px;
  width: 100%;
  z-index: -1;
}



table td:hover::after,
table tr:hover {
  background-color: #b0d3f1;
}


#name{
	background-color: #72a4c9 !important;
  border-left: 1px  solid grey;
  color: white;
  font-style: italic;
}

#against{
	background-color: #72a4c9 !important;
  border-top: 1px  solid grey;
  color: white;
  font-style: italic;
}

#rows{
	 font-weight: bold;
   border: 1px  solid grey;
}

#columns{
	 font-weight: bold;
   border: 1px  solid grey;
}

#values{
	border: 1px solid #ddd;
}

.noHover{
    pointer-events: none;
}

ui-switch{
  padding: 10px;
}

.max{
  background-color: #c3e7ff;
}

.min{
  background-color: #c3e7ff;
}