.row{
  margin:0;
  padding:0;
}

.col-12{
  padding:0;
  margin:0;
}

.bd-sidebar {
    position:fixed;
    height: calc(100vh - 40px);
    border: 0px solid blue;
    padding:0;
    min-width: 218px;
    width: 218px;

    display: inline-flex;
    flex-direction: column;
}

.bd-content {
  padding:0;
  padding-left: 4em;
  padding-right: 4em;
  margin-left: 218px;
  border: 0px solid green;
  max-width: 100vw !important;
  width:100%;
  overflow: auto;
}

.bd-content .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width:100%;
}

.bd-sidebar .dropdown{
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.bd-sidebar .dropdown a:active{
  background-color: lightgrey;
}

.bd-content .container{
  border: 0px solid black;
  padding:0;
  margin:0;
  padding-top: 2em;
  padding-bottom: 2em;
  max-width: 100vw !important;
  width:100%;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.1s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #343A40;
    color: #fff;
    transition: all 0.3s;
    height:calc(100vh - 40px);
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #3d8dbd;
}

#sidebar ul{
    padding:0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    margin:0;
    font-size: 1.2em;
    display: block;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #3d8dbd;
    background: #fff;
}

#columns-container{
  height:calc(100vh - 300px);
  overflow: auto;
  border: 0px solid red;
}
.list-unstyled{
  padding:0;
  margin:0;
}

.components{
  padding:0;
  margin:0;
}

.components li.selectedCol {
    color: #3d8dbd;
    background: #F0F0F0;
}

/*#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #3d8dbd;
}*/
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3d8dbd;
}

.btn{
  background-color: #343A40;
  border: 1px solid #6c757d;
}

.k-marquee-color{background-color: #3d8dbd94;}

#capture{
  position: fixed;
  right:4em;
  z-index: 2;
  border-color: #343A4090;
  background-color: white;
  padding-right: 14px;
  margin-top: 2em;
}

#capture:Hover{
  background-color: #343A40;
  color: white;
}

 #capture:before {
   content: url(../../assets/pdf.svg);
   width: 20px;
   float: left;
   margin-top: 3px;
   margin-right: 5px;
 }

 #clear{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
 }