.tabs{
    width:100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.tabs .tab{
    border-radius: 5px 5px 2px 2px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.5em;
}

.tabs .tab:hover{
    background-color: #E7E7E7;
}

.tabs .selected{
    border-bottom: 3px solid #3d8dbd !important;
    font-size: 16px;
    color: #3d8dbd;
}


































/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

/*.mat-tab-group {
}

.mat-tab-content {
  padding: 16px;
  align-content: center;
}

.mat-tab-label-active{
  opacity: 1 !important;
}

.custom-tabs .mat-tab-body-wrapper {
  background: #eee;
}
.custom-tabs .mat-tab-body {
  padding: 20px;
  border: 1px solid red;
}
*/
/*[_nghost-c5] {
    display: inline-block !important;
    width: 100%;
}
.mat-tab-link-active,
.mat-tab-label-active {
    background-color: #5EADB0;
    color: #D5FEFF;
    border: 1px solid red;
    font-weight: bold;
}

.mat-tab-link,
.mat-tab-label {
}

.tabContentContainer {
    border: 1px solid #aaaaaa;
    background: #ffffff 50% 50% repeat-x;
    border: 1px solid red;
}*/