<h2>Cross tabs</h2>
<p>Comparing against other categorical columns within the same table</p>
<div class="tabs" align-items="center">
	<a *ngFor = "let cross_tab of cross_tabs" class="tab" (click)=selectTab(cross_tab) href="#" [class.selected]="cross_tab===selected">{{name}} vs {{cross_tab.against}}</a>
</div>
<cross-tab [cross_tab]=selected [name]=name></cross-tab>


<!-- <h2>Cross tabs</h2>
<p>Comparing against other categorical columns within the same table</p>
<div>
<mat-tab-group  mat-align-tabs="center" animationDuration="150ms" class="custom-tabs">
  <mat-tab *ngFor = "let cross_tab of cross_tabs" label="{{name}} vs {{cross_tab.against}}">
  	<cross-tab [cross_tab]=cross_tab [name]=name></cross-tab>
  </mat-tab>
</mat-tab-group>
</div> -->