<h2>Box plot</h2>
<div class="row">
  <div class="col-12">
    <kendo-chart [pannable]="true" [zoomable]="{selection: {lock: 'y'}}">
      <kendo-chart-area background="transparent" [margin]="0" [height]="300">
      </kendo-chart-area>
      <kendo-chart-value-axis>
        <kendo-chart-value-axis-item [title]="{ text: 'Range of values of this column' }" [labels]="{ rotation: 'auto' }">
        </kendo-chart-value-axis-item>
      </kendo-chart-value-axis>
      <kendo-chart-series>
        <kendo-chart-series-item type="verticalBoxPlot" [data]="data" lowerField="lower" q1Field="q1" medianField="median" q3Field="q3" upperField="upper" outliersField="outliers" meanField="mean" color="#3d8dbd">
          <kendo-chart-series-item-tooltip>
          	<ng-template>
          		<table>
	                <tr><td>Lower:</td><td>{{data[0].lower}}</td></tr>
	                <tr><td>Q1:</td><td>{{data[0].q1}}</td></tr>
	                <tr><td>Median:</td><td>{{data[0].median}}</td></tr>
	                <tr><td>Mean:</td><td>{{data[0].mean}}</td></tr>
	                <tr><td>Q3:</td><td>{{data[0].q3}}</td></tr>
	                <tr><td>Upper:</td><td>{{data[0].upper}}</td></tr>
            	</table>
          	</ng-template>
          </kendo-chart-series-item-tooltip>
        </kendo-chart-series-item>
      </kendo-chart-series>
    </kendo-chart>
  </div>
</div>
<p>Tip: SHIFT + Mouse Drag zoom into specific region. Use the mousewheel to zoom in and out</p>