<div style="text-align:left;width:500px;">
  <div *ngFor="let col of data?.columns">
    <div *ngIf="col===selectedCol">
      <h2>Column: {{ col.name }}</h2>
      <p> Type : {{ col.type }} </p>
      <ngx-number-card [column]=col></ngx-number-card>
      <div *ngIf="!(col.type==='categorical')">
      </div>
      <div *ngIf="col.type==='categorical'">
        <ngx-bar-chart [column]=col></ngx-bar-chart>
        <ngx-cross-tabs [column]=col></ngx-cross-tabs>
      </div>
    </div>
  </div>
</div>
