<!-- <print-out [data]="data" [selectedCol]="selectedCol"></print-out> -->

<div>
<ng-container *ngIf="!selectedCol">
  <div>
    <h2>Table name: {{ data?.file_name }}</h2>
    <h3>Table Type: {{ data?.table_type }}</h3>
    <p> General Statistics: </p>
    <div class="row">
      <div class="col-12">
        <ngx-charts-number-card [view]="view" [results]="cards" [scheme]="scheme" (select)="onSelect($event)"></ngx-charts-number-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ngx-charts-pie-chart [view]="[600, 300]" [results]="pie" [legend]=true [legendPosition]="'below'" [scheme]="schemePie" (select)="onSelect($event)">
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="selectedCol">
  <div>
    <ng-container *ngFor="let col of data?.columns">
      <div>
        <ng-container *ngIf="col===selectedCol">
          <div>
            <h1>Column: {{ col.name }}</h1>
            <p> Type : {{ col.type }} </p>
            <ngx-number-card [column]=col [count]="data?.count" (select)="onSelect($event)"></ngx-number-card>
            <ng-container *ngIf="col.type==='nominal_numeric'">
              <dist-plot [percentiles]="col.stats.percentiles" [mean]="col.stats.numeric_stats.mean"></dist-plot>
              <box-plot [percentiles]="col.stats.percentiles" [mean]="col.stats.numeric_stats.mean"></box-plot>
            </ng-container>
            <ng-container *ngIf="col.type==='categorical'">
              <div>
                <h2>Category counts</h2>
                <p>Displaying counts of each categories in "{{col.name}}".</p>
                <ngx-bar-chart [column]=col></ngx-bar-chart>
                <cross-tabs [cross_tabs]=col.stats.cross_tabs [name]=col.name></cross-tabs>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
</div>