/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.header {
  position: fixed;
	background-color: #353d47;
  top: 0px;
  left: 0px;
  color: white;
	height: 40px;
  width: 100%;
	padding: 10px;
  z-index: 2;
}

text{
	fill: black;
}

#page-container{
  padding:0;
  margin-top: 40px;
  border: 0px solid red;
  max-width: 100vw !important;
  width:100%;
  height: calc(100vh - 40px);
}

.row{
  margin:0;
  padding:0;
}

.col-12{
  padding:0;
  margin:0;
}

.bd-sidebar {
    position:fixed;
    height: calc(100vh - 40px);
    border: 0px solid blue;
    padding:0;
    min-width: 218px;
    width: 218px;

    display: inline-flex;
    flex-direction: column;
}

.bd-content {
  padding:0;
  padding-left: 4em;
  padding-right: 4em;
  margin-left: 218px;
  border: 0px solid green;
  max-width: 100vw !important;
  width:100%;
  overflow: auto;
}

.bd-content .row {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width:100%;
}

.dropdown{
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.bd-content .container{
  border: 0px solid black;
  padding:0;
  margin:0;
  padding-top: 2em;
  max-width: 100vw !important;
  width:100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F0F0F0;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #343A40;
    color: #fff;
    transition: all 0.3s;
    height:calc(100vh - 40px);
    display: flex;
    flex-direction: column;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #3d8dbd;
}

#sidebar ul{
    padding:0;
}

#sidebar ul p {
    color: #fff;
    padding-left: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #3d8dbd;
    background: #fff;
}

#columns-container{
  height:calc(100vh - 300px);
  overflow: auto;
  border: 0px solid red;
}
.list-unstyled{
  padding:0;
  margin:0;
}

.components{
  padding:0;
  margin:0;
}

.components li.selectedCol {
    color: #3d8dbd;
    background: #F0F0F0;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #3d8dbd;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3d8dbd;
}

.btn{
  background-color: #343A40;
  border: 1px solid #6c757d;
}