/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
body {
  /*width: 100%;*/
  /*margin: 0;
  padding: 0;*/
}

.header {
  overflow: hidden;
  position: fixed;
	background-color: #353d47;
  top: 0px;
  color: white;
	height: 40px;
  width: 100%;
	padding: 10px;
  z-index: 2;
}

text{
	fill: black;
}

.bd-sidebar {
    position:fixed;
    top: 40px;
    padding-top: 1em;
    height: calc(100vh - 40px);
    border-right: 1px solid black;
}

.bd-content {
  top: 40px;
  left: 25%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem; 
  padding-right: 2rem;
  height: 200vh;
}

.row {
}

.dropdown{
  position: relative;
}

.container{
  border: 1px solid black;
}